/*
Funciones de strings
percentage($number)
max($number1, $number2 ....)
min($number1, $number2 ....)
floor($number1) //redondea hacia abajo
ceil($number1) //redondea hacia arriba
round($number1) //redondea hacia el mas cercano
random() //numeros aleatorios entre 0 y 1
random(limit) //numeros aleatorios entre 0 y el limite que yo ponga

random se usa para animaciones para que no se vean muy forzadas y para animaciones de colores

*/
.cols-1 {
  width: 8.33333%; }

.cols-2 {
  width: 16.66667%; }

.cols-3 {
  width: 25%; }

.cols-4 {
  width: 33.33333%; }

.cols-5 {
  width: 41.66667%; }

.cols-6 {
  width: 50%; }

.cols-7 {
  width: 58.33333%; }

.cols-8 {
  width: 66.66667%; }

.cols-9 {
  width: 75%; }

.cols-10 {
  width: 83.33333%; }

.cols-11 {
  width: 91.66667%; }

.cols-12 {
  width: 100%; }

body {
  width: 54%;
  width: 55%;
  width: 55%;
  width: 40.03803%;
  width: 2; }
