/*
Funciones de introspeccion
inspect() es como el console.log
type-of() devuelve tipo de dato
unit() devuelve la unidad de un numero como string
unitless() devuelve true si el numero no tiene unidad
mixin-exists($mixin)
function-exists(function)
variable-exists($var)
global-variable-exists($var)
*/
body {
  color: (primary: red, secondary: green, tertiary: blue);
  color: "px";
  color: false; }

body {
  background: red; }
