// color sustrativo (pinturas) 
// cyan, magenta, amarillo, negro (CMYK)

// Color aditivo (luz, pantalla)
// RGB
// 256, 256, 256 == 2^8, 2^8, 2^8 == 16M colores = Profundidad de color de 24bits

// no es amigable con el humano el rgb ej: 23, 200, 146
// Notacion hexa
// RRGGBB 0123456789ABCDEF

// hue saturation, lighten (HSL)
// hue -> tono de color (de 0 a 360 grados)
// saturation -> intensidad de color, de gris al color puro

// lighten -> la cantidad de luz (0% da negro, 100% da blanco, el color puero esta al 50%)
// HUE
// 0/360 -> red
// 60    -> yellow
// 120   -> green
// 180   -> cyan
// 240   -> blue
// 300   -> magenta


/* Funciones
RGB
  red($color)
  green($color)
  blue($color)

HSL
  hue($color)
  saturation($color)
  lightness($color)

  darken($color, cantidad)
  lighten($color, cantidad)
  saturate($color, cantidad)
  desaturate($color, cantidad)
  adjust-hue($color, cantidad)

*/

$base-color: red;
$text-color-light: #fff;
$text-color-dark: #222;

// detecta el mejor color
@function color-text($color) {

  @if lightness($color) >= 50 and hue($color) < 180 and hue($color) > 0 {
    @return $text-color-dark;
  } @else {
    @return $text-color-light;
  }
}

@mixin button($color) {
  display: inline-block;
  border: none;
  padding: .5em 1.5em;
  background: $color;
  color: color-text($color);
}
button {
  @include button(yellow);
}
body {
  $color: red;


  background: $color;
  background: darken($color, 10);
  background: lighten($color, 10);
  background: saturate($color, 10);
  background: desaturate($color, 40);
  background: adjust-hue($color, 40);
  // background: desaturate($color, 40);
}