body {
  background: red; }

body {
  background: #ff0400; }

body {
  background: #ff0900; }

body {
  background: #ff0d00; }

body {
  background: #ff1100; }

body {
  background: #ff1500; }

body {
  background: #ff1a00; }

body {
  background: #ff1e00; }

body {
  background: #ff2200; }

body {
  background: #ff2600; }

body {
  background: #ff2b00; }

body {
  background: #ff2f00; }

body {
  background: #ff3300; }

body {
  background: #ff3700; }

body {
  background: #ff3c00; }

body {
  background: #ff4000; }

body {
  background: #ff4400; }

body {
  background: #ff4800; }

body {
  background: #ff4d00; }

body {
  background: #ff5100; }

body {
  background: #ff5500; }

body {
  background: #ff5900; }

body {
  background: #ff5e00; }

body {
  background: #ff6200; }

body {
  background: #ff6600; }

body {
  background: #ff6a00; }

body {
  background: #ff6f00; }

body {
  background: #ff7300; }

body {
  background: #ff7700; }

body {
  background: #ff7b00; }

body {
  background: #ff8000; }

body {
  background: #ff8400; }

body {
  background: #ff8800; }

body {
  background: darkorange; }

body {
  background: #ff9100; }

body {
  background: #ff9500; }

body {
  background: #ff9900; }

body {
  background: #ff9d00; }

body {
  background: #ffa200; }

body {
  background: #ffa600; }

body {
  background: #ffaa00; }

body {
  background: #ffae00; }

body {
  background: #ffb300; }

body {
  background: #ffb700; }

body {
  background: #ffbb00; }

body {
  background: #ffbf00; }

body {
  background: #ffc400; }

body {
  background: #ffc800; }

body {
  background: #ffcc00; }

body {
  background: #ffd000; }

body {
  background: #ffd500; }

body {
  background: #ffd900; }

body {
  background: #ffdd00; }

body {
  background: #ffe100; }

body {
  background: #ffe600; }

body {
  background: #ffea00; }

body {
  background: #ffee00; }

body {
  background: #fff200; }

body {
  background: #fff700; }

body {
  background: #fffb00; }

body {
  background: yellow; }

body {
  background: #fbff00; }

body {
  background: #f7ff00; }

body {
  background: #f2ff00; }

body {
  background: #eeff00; }

body {
  background: #eaff00; }

body {
  background: #e6ff00; }

body {
  background: #e1ff00; }

body {
  background: #ddff00; }

body {
  background: #d9ff00; }

body {
  background: #d5ff00; }

body {
  background: #d0ff00; }

body {
  background: #ccff00; }

body {
  background: #c8ff00; }

body {
  background: #c4ff00; }

body {
  background: #bfff00; }

body {
  background: #bbff00; }

body {
  background: #b7ff00; }

body {
  background: #b3ff00; }

body {
  background: #aeff00; }

body {
  background: #aaff00; }

body {
  background: #a6ff00; }

body {
  background: #a2ff00; }

body {
  background: #9dff00; }

body {
  background: #99ff00; }

body {
  background: #95ff00; }

body {
  background: #91ff00; }

body {
  background: #8cff00; }

body {
  background: #88ff00; }

body {
  background: #84ff00; }

body {
  background: #80ff00; }

body {
  background: #7bff00; }

body {
  background: #77ff00; }

body {
  background: #73ff00; }

body {
  background: #6fff00; }

body {
  background: #6aff00; }

body {
  background: #66ff00; }

body {
  background: #62ff00; }

body {
  background: #5eff00; }

body {
  background: #59ff00; }

body {
  background: #55ff00; }

body {
  background: #51ff00; }

body {
  background: #4dff00; }

body {
  background: #48ff00; }

body {
  background: #44ff00; }

body {
  background: #40ff00; }

body {
  background: #3cff00; }

body {
  background: #37ff00; }

body {
  background: #33ff00; }

body {
  background: #2fff00; }

body {
  background: #2bff00; }

body {
  background: #26ff00; }

body {
  background: #22ff00; }

body {
  background: #1eff00; }

body {
  background: #1aff00; }

body {
  background: #15ff00; }

body {
  background: #11ff00; }

body {
  background: #0dff00; }

body {
  background: #09ff00; }

body {
  background: #04ff00; }

body {
  background: lime; }

body {
  background: #00ff04; }

body {
  background: #00ff09; }

body {
  background: #00ff0d; }

body {
  background: #00ff11; }

body {
  background: #00ff15; }

body {
  background: #00ff1a; }

body {
  background: #00ff1e; }

body {
  background: #00ff22; }

body {
  background: #00ff26; }

body {
  background: #00ff2b; }

body {
  background: #00ff2f; }

body {
  background: #00ff33; }

body {
  background: #00ff37; }

body {
  background: #00ff3c; }

body {
  background: #00ff40; }

body {
  background: #00ff44; }

body {
  background: #00ff48; }

body {
  background: #00ff4d; }

body {
  background: #00ff51; }

body {
  background: #00ff55; }

body {
  background: #00ff59; }

body {
  background: #00ff5e; }

body {
  background: #00ff62; }

body {
  background: #00ff66; }

body {
  background: #00ff6a; }

body {
  background: #00ff6f; }

body {
  background: #00ff73; }

body {
  background: #00ff77; }

body {
  background: #00ff7b; }

body {
  background: #00ff80; }

body {
  background: #00ff84; }

body {
  background: #00ff88; }

body {
  background: #00ff8c; }

body {
  background: #00ff91; }

body {
  background: #00ff95; }

body {
  background: #00ff99; }

body {
  background: #00ff9d; }

body {
  background: #00ffa2; }

body {
  background: #00ffa6; }

body {
  background: #00ffaa; }

body {
  background: #00ffae; }

body {
  background: #00ffb3; }

body {
  background: #00ffb7; }

body {
  background: #00ffbb; }

body {
  background: #00ffbf; }

body {
  background: #00ffc4; }

body {
  background: #00ffc8; }

body {
  background: #00ffcc; }

body {
  background: #00ffd0; }

body {
  background: #00ffd5; }

body {
  background: #00ffd9; }

body {
  background: #00ffdd; }

body {
  background: #00ffe1; }

body {
  background: #00ffe6; }

body {
  background: #00ffea; }

body {
  background: #00ffee; }

body {
  background: #00fff2; }

body {
  background: #00fff7; }

body {
  background: #00fffb; }

body {
  background: cyan; }

body {
  background: #00fbff; }

body {
  background: #00f7ff; }

body {
  background: #00f2ff; }

body {
  background: #00eeff; }

body {
  background: #00eaff; }

body {
  background: #00e6ff; }

body {
  background: #00e1ff; }

body {
  background: #00ddff; }

body {
  background: #00d9ff; }

body {
  background: #00d5ff; }

body {
  background: #00d0ff; }

body {
  background: #00ccff; }

body {
  background: #00c8ff; }

body {
  background: #00c4ff; }

body {
  background: deepskyblue; }

body {
  background: #00bbff; }

body {
  background: #00b7ff; }

body {
  background: #00b3ff; }

body {
  background: #00aeff; }

body {
  background: #00aaff; }

body {
  background: #00a6ff; }

body {
  background: #00a2ff; }

body {
  background: #009dff; }

body {
  background: #0099ff; }

body {
  background: #0095ff; }

body {
  background: #0091ff; }

body {
  background: #008cff; }

body {
  background: #0088ff; }

body {
  background: #0084ff; }

body {
  background: #0080ff; }

body {
  background: #007bff; }

body {
  background: #0077ff; }

body {
  background: #0073ff; }

body {
  background: #006fff; }

body {
  background: #006aff; }

body {
  background: #0066ff; }

body {
  background: #0062ff; }

body {
  background: #005eff; }

body {
  background: #0059ff; }

body {
  background: #0055ff; }

body {
  background: #0051ff; }

body {
  background: #004dff; }

body {
  background: #0048ff; }

body {
  background: #0044ff; }

body {
  background: #0040ff; }

body {
  background: #003cff; }

body {
  background: #0037ff; }

body {
  background: #0033ff; }

body {
  background: #002fff; }

body {
  background: #002bff; }

body {
  background: #0026ff; }

body {
  background: #0022ff; }

body {
  background: #001eff; }

body {
  background: #001aff; }

body {
  background: #0015ff; }

body {
  background: #0011ff; }

body {
  background: #000dff; }

body {
  background: #0009ff; }

body {
  background: #0004ff; }

body {
  background: blue; }

body {
  background: #0400ff; }

body {
  background: #0900ff; }

body {
  background: #0d00ff; }

body {
  background: #1100ff; }

body {
  background: #1500ff; }

body {
  background: #1a00ff; }

body {
  background: #1e00ff; }

body {
  background: #2200ff; }

body {
  background: #2600ff; }

body {
  background: #2b00ff; }

body {
  background: #2f00ff; }

body {
  background: #3300ff; }

body {
  background: #3700ff; }

body {
  background: #3c00ff; }

body {
  background: #4000ff; }

body {
  background: #4400ff; }

body {
  background: #4800ff; }

body {
  background: #4d00ff; }

body {
  background: #5100ff; }

body {
  background: #5500ff; }

body {
  background: #5900ff; }

body {
  background: #5e00ff; }

body {
  background: #6200ff; }

body {
  background: #6600ff; }

body {
  background: #6a00ff; }

body {
  background: #6f00ff; }

body {
  background: #7300ff; }

body {
  background: #7700ff; }

body {
  background: #7b00ff; }

body {
  background: #8000ff; }

body {
  background: #8400ff; }

body {
  background: #8800ff; }

body {
  background: #8c00ff; }

body {
  background: #9100ff; }

body {
  background: #9500ff; }

body {
  background: #9900ff; }

body {
  background: #9d00ff; }

body {
  background: #a200ff; }

body {
  background: #a600ff; }

body {
  background: #aa00ff; }

body {
  background: #ae00ff; }

body {
  background: #b300ff; }

body {
  background: #b700ff; }

body {
  background: #bb00ff; }

body {
  background: #bf00ff; }

body {
  background: #c400ff; }

body {
  background: #c800ff; }

body {
  background: #cc00ff; }

body {
  background: #d000ff; }

body {
  background: #d500ff; }

body {
  background: #d900ff; }

body {
  background: #dd00ff; }

body {
  background: #e100ff; }

body {
  background: #e600ff; }

body {
  background: #ea00ff; }

body {
  background: #ee00ff; }

body {
  background: #f200ff; }

body {
  background: #f700ff; }

body {
  background: #fb00ff; }

body {
  background: magenta; }

body {
  background: #ff00fb; }

body {
  background: #ff00f7; }

body {
  background: #ff00f2; }

body {
  background: #ff00ee; }

body {
  background: #ff00ea; }

body {
  background: #ff00e6; }

body {
  background: #ff00e1; }

body {
  background: #ff00dd; }

body {
  background: #ff00d9; }

body {
  background: #ff00d5; }

body {
  background: #ff00d0; }

body {
  background: #ff00cc; }

body {
  background: #ff00c8; }

body {
  background: #ff00c4; }

body {
  background: #ff00bf; }

body {
  background: #ff00bb; }

body {
  background: #ff00b7; }

body {
  background: #ff00b3; }

body {
  background: #ff00ae; }

body {
  background: #ff00aa; }

body {
  background: #ff00a6; }

body {
  background: #ff00a2; }

body {
  background: #ff009d; }

body {
  background: #ff0099; }

body {
  background: #ff0095; }

body {
  background: #ff0091; }

body {
  background: #ff008c; }

body {
  background: #ff0088; }

body {
  background: #ff0084; }

body {
  background: #ff0080; }

body {
  background: #ff007b; }

body {
  background: #ff0077; }

body {
  background: #ff0073; }

body {
  background: #ff006f; }

body {
  background: #ff006a; }

body {
  background: #ff0066; }

body {
  background: #ff0062; }

body {
  background: #ff005e; }

body {
  background: #ff0059; }

body {
  background: #ff0055; }

body {
  background: #ff0051; }

body {
  background: #ff004d; }

body {
  background: #ff0048; }

body {
  background: #ff0044; }

body {
  background: #ff0040; }

body {
  background: #ff003c; }

body {
  background: #ff0037; }

body {
  background: #ff0033; }

body {
  background: #ff002f; }

body {
  background: #ff002b; }

body {
  background: #ff0026; }

body {
  background: #ff0022; }

body {
  background: #ff001e; }

body {
  background: #ff001a; }

body {
  background: #ff0015; }

body {
  background: #ff0011; }

body {
  background: #ff000d; }

body {
  background: #ff0009; }

body {
  background: #ff0004; }

body {
  background: red; }
